.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  margin-bottom: -1rem;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .boton{
    justify-content: center;
    min-width: 29%;
    border-radius: 0.5rem;
    background-color: beige;
    margin: 2%;
    display: inline-flex;
    vertical-align: middle;
    border-color: aqua;
    border-width: 2px;
    text-decoration: none;
    color: #333;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.circle {
    border-radius: 50%;
  }
  
  .arch {
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    margin: 1%;
  }
  
  .rows {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding: 5%;
  }

  .bckgr{
    background-image: url("./media/background.png");
    background-size: cover;
  }

  .color1{
    background-color: #A4E69B;
  }

  .grey {
    background-color: grey;
  }

  .center-content{
    display: grid;
    justify-items: center;
  }

  .text_img {
    display: inline-grid;
    width: 62%;
    /*justify-content: center;*/
  }


  .center{
    display: inline-grid;
  }

  @media only screen and (min-width: 992px) {
    /* For desktop: */
      .center{display: inline-flex;}
      .text_img { display: inline-flex;}
      .right { margin-left: 8rem;}
      iframe {width:600px; height:340px;}
    
  }

  .font-deco {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .icon-margin-rgt{
    margin-right: 4%;
  }
/*
  .row-img-box-rgt{
    display: inline-flex;
    justify-self: right;
    flex-wrap: wrap;
  }

  .row-img-box-lft{
    display: inline-flex;
    justify-self: left;
    flex-wrap: wrap;
  }

  
  .row-text-box-rgt{
    display: inline-flex;
    justify-self: right;
    flex-wrap: wrap;
  }

  .row-text-box-lft{
    display: inline-flex;
    justify-self: left;
    flex-wrap: wrap;
  }*/