.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  margin-bottom: -1rem;
}


.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .boton{
    justify-content: center;
    min-width: 29%;
    width: max-content;
    border-radius: 0.5rem;
    background-color: beige;
    margin: 1rem;
    display: inline-flex;
    vertical-align: middle;
    border-color: aqua;
    border-width: 2px;
    text-decoration: none;
    color: #333;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.circle {
    border-radius: 50%;
  }
  
  .arch {
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    margin: 1%;
  }
  
  .rows {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding: 5%;
    color: white;
  }

  .bckgr1{
    background-image: url("./media/background.png");
    background-size: cover;
  }

  .bckgr2{
    background-image: url("./media/background2.png");
    background-size: cover;
  }

  .color1{
    background-color: #A4E69B;
  }

  .color2 {
    background-color: #6E8898;
  }

  .center-content{
    display: grid;
    justify-items: center;
  }

  .text_img {
    display: inline-grid;
    width: 62%;
    /*justify-content: center;*/
  }

  .toTheTop {
    position: fixed;
    bottom: 1rem;
    color: #333;
    right: 1rem;
  }

  .center{
    display: inline-grid;
  }

  @media only screen and (min-width: 992px) {
    /* For desktop: */
      .center{display: inline-flex;}
      .text_img { display: inline-flex;}
      .right { margin-left: 3rem;}
      iframe {width:600px; height:340px;}
    
  }


  .icon-margin-rgt{
    margin-right: 4%;
  }

  .imagen {
    align-content: center;
  }

  .s-img {
    width: 15rem;
    height: 15rem;
  }

  .l-img {
    width: 19rem;
    height: 19rem;
  }